name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'
        tools: composer:v2

    - name: Install dependencies
      run: |
        composer install --no-dev --optimize-autoloader
        npm install
        npm run build

    - name: Build Plugin ZIP
      run: |
        mkdir build
        mkdir build/wp-pfadi-manager
        rsync -av --exclude='build' --exclude='.git' --exclude='.github' --exclude='tests' --exclude='bin' --exclude='node_modules' --exclude='docker-compose.yml' --exclude='CONTRIBUTING.md' --exclude='.stylelintignore' --exclude='.gitignore' --exclude='.editorconfig' . build/wp-pfadi-manager/
        cd build
        zip -r ../wp-pfadi-manager.zip wp-pfadi-manager
        cd ..

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: wp-pfadi-manager.zip
        generate_release_notes: true
